# Concatenate the content of column A and B to create the same content for column C.

In [1]:
import pandas as pd

In [3]:
# Creating a Sample Data Frame with Column A and B
df = pd.DataFrame({'A': ['Here I am', 'Standing tall', 'Moving forward'], 
                   'B': ['Waiting with Excitement', 'With determination', 'With hope']})
df

                A                        B
0       Here I am  Waiting with Excitement
1   Standing tall       With determination
2  Moving forward                With hope

In [4]:
# Concatenating column values into a new column C
df['C'] = df['A'] + ' ' + df['B']
df

                A                        B                                  C
0       Here I am  Waiting with Excitement  Here I am Waiting with Excitement
1   Standing tall       With determination   Standing tall With determination
2  Moving forward                With hope           Moving forward With hope